<br>
<center>
    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAHC9WCIKpA/ZC_cphSBEB3mglDRL6NSlQ/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAHC9WCIKpA&#x2F;ZC_cphSBEB3mglDRL6NSlQ&#x2F;view?utm_content=DAHC9WCIKpA&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Monaco Will_We_Ever_Grow_Potatoes_on_Mars.odp</a> by FEDERICO MONACO</iframe>
</center>
<br>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Methodology</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-circle-o wow bounceIn text-primary"></i>
                    <h3>practices</h3>
                    <p class="text-muted">Individual and collective</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-space-shuttle wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>factors</h3>
                    <p class="text-muted">environmental and human</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>conditions</h3>
                    <p class="text-muted">harsh and extreme</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".7s"></i>
                    <h3>matter</h3>
                    <p class="text-muted">converting and sharing</p>
                </div>
            </div>
        </div>
    </div>
</section>
